<!--<div ng-controller="loginController as vm" class="container">
    <div class="row">
        <div style="width: 50%; margin: 50px auto;">
            <h3 class="card-subhead">Login Form</h3><br>
            <form name="loginForm" ng-submit="addEntry()">
                <div class="form-group">
                    <input class="form-control" placeholder="email" type="text" name="username" ng-model="username" ng-pattern="eml_add" ng-required="true" autocomplete="off">
                    <span class="red-text" ng-if="loginForm.username.$error.required && loginForm.username.$dirty">Email is a required field</span>
                    <span class="red-text" ng-show="loginForm.username.$error.pattern">Invalid Email</span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="password" name="password" type="password" ng-model="password" ng-minlength="1" ng-maxlength="16" required>
                    <span class="red-text" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password is a required field</span>
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.minlength">min 3 chars.</span>
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.maxlength">Max 16 chars.</span><br /><br />
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit"></input>
                </div>
            </form>
        </div>
    </div>
 </div>
-->

<style>
body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}
 </style>

<div ng-controller="loginController as vm" class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <img widht="150" height="100"src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/dlsu0klq8wfqopndsxc0"></i>
            </div>
            <div class="col-lg-12 login-title">
                USER LOGIN
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form name="loginForm" ng-submit="addEntry()">
                        <div class="form-group">
                            <label class="form-control-label">USERNAME</label>
                            <input class="form-control"  type="text" name="username" ng-model="username" ng-pattern="eml_add" ng-required="true" autocomplete="off">
                            <span class="red-text" ng-if="loginForm.username.$error.required && loginForm.username.$dirty">Email is a required field</span>
                            <span class="red-text" ng-show="loginForm.username.$error.pattern">Invalid Email</span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input class="form-control"  name="password" type="password" ng-model="password" ng-minlength="1" ng-maxlength="16" required>
                    <span class="red-text" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password is a required field</span>
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.minlength">min 3 chars.</span>
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.maxlength">Max 16 chars.</span>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <p class="message">Not registered? <a ui-sref="register">Create an account</a></p> 
            </div>
                            
                            <div class="col-lg-6 login-btm login-button">
                                <button ng-disabled="loginForm.$invalid || loginForm.$pending" type="submit" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

